@charset "utf-8";
table#login {
    border: none;
    border-top: 3px solid #5DE4BF;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 30px;
    table-layout: fixed;
    width: 100%;
  }

  table#login th,
  table#login td {
    border-bottom: 1px solid #DDD;
    font-size: 0.85em;
    line-height: 1.5;
    padding: 15px;
    text-align: left;
    vertical-align: middle;
  }

  table#login th:first-child,
  table#login td:first-child {
    padding-left: 0;
  }

  table#login th:last-child,
  table#login td:last-child {
    padding-right: 0;
    width: 45%;
  }

  table#login th {
    font-weight: bold;
    vertical-align: top;
  }

  table#login td .thTitle {
    display: none;
  }

  /*ウィンドウサイズが 768px以内の場合に上書きされる*/
  @media screen and (max-width: 768px) {

    table#login,
    table#login caption,
    table#login tbody,
    table#login tfoot,
    table#login tr,
    table#login th,
    table#login td {
      display: block;
      width: 100% !important;
    }

    table#login th,
    table#login td {
      padding-left: 0;
      padding-right: 0;
    }

    table#login th {
      display: none;
    }

    table#login td {
      border: none;
      text-align: left;
    }

    table#login td {
      border-bottom: 1px solid #DDD;
    }

    table#login td:first-child {
      font-weight: bold;
    }

    table#login td:last-child {
      border-bottom: 2px solid #DDD;
    }


