<?xml version = "1.0" encoding = "UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<servlet>
		<servlet-name>firstS</servlet-name>
		<servlet-class>introduction.FirstServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>firstS</servlet-name>
		<url-pattern>/firstpage</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>loginS</servlet-name>
		<servlet-class>introduction.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginS</servlet-name>
		<url-pattern>/login</url-pattern>
		</servlet-mapping>


	<servlet>
		<servlet-name>questS</servlet-name>
		<servlet-class>introduction.QuestionnarireServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>questS</servlet-name>
		<url-pattern>/quest</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>inputS</servlet-name>
		<servlet-class>practice.InputServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>inputS</servlet-name>
		<url-pattern>/input</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>chatS</servlet-name>
		<servlet-class>practice.ChatServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>chatS</servlet-name>
		<url-pattern>/chat</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>registS</servlet-name>
		<servlet-class>database.RegisyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registS</servlet-name>
		<url-pattern>/regist</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>selectS</servlet-name>
		<servlet-class>database.SelectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>selectS</servlet-name>
		<url-pattern>/select</url-pattern>
	</servlet-mapping>




	<filter>
		<filter-name>encodingF</filter-name>
		<filter-class>introduction.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encodingF</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>logF</filter-name>
		<filter-class>introduction.LogFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>logF</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>newLoginS</servlet-name>
		<servlet-class>newLogin.NewLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newLoginS</servlet-name>
		<url-pattern>/newLogin</url-pattern>
	</servlet-mapping>

	<servlet>
        <servlet-name>passResetMapping</servlet-name>
        <servlet-class>login.PassResetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>passResetMapping</servlet-name>
        <url-pattern>/passReset</url-pattern>
    </servlet-mapping>

	</web-app>