@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@charset "Shift_Jis";

 body {
 	font-family:'Open Sans', sans-serif;
 	background-image:url("/Sample/database/main_white.jpg");
 }

h1 {
    font-size: 40px;
    color: #696969;
}


.area{ /*①テスト範囲選択してください*/
	text-align: right;
	font-size: 20px;
}
.name{/*生徒名*/
	font-size: 20px;
}
.area1{/*②テスト範囲選択してください*/
	font-size: 20px;
}


a.button{/*ログアウト*/
	display:block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	width: 150px;
	padding: 0.5rem 2rem;
	font-weight: bold;
	font-size: 15px;
	border-radius: 10px;
	color: #800000;
	border: 3px solid #a67b5b;
	box-shadow: 5px 5px #a67b5b;
	transition: 0.3s ease-in-out;
	margin-left: auto;
}
.button:hover {
    background-color: #b4ada9;
    color: white;
}

a.button1{/*新規追加*/
	display:block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	width: 300px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	font-size: 20px;
	border-radius: 10px;
	color: #800000;
	border: 3px solid #a67b5b;
	box-shadow: 5px 5px #a67b5b;
	transition: 0.3s ease-in-out;
}
.button1:hover {
    background-color: #b4ada9;
    color: white;
}


.button2 { /*グラフ表示ボタン*/
	display:block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	width: 430px;
	/* margin: auto; */
	margin-right: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	font-size: 20px;
	border-radius: 10px;
	color: #800000;
	border: 3px solid #a67b5b;
	box-shadow: 5px 5px #a67b5b;
	white-space: nowrap; テキストを1行に表示
}

.button2:hover {
    background-color: #b4ada9;
    color: white;
}
.right-align {/*テスト期間1つ選択するselectボックス*/
   text-align: right;
}

 select {/*全てのselectボックス*/
 	font-size: 20px;
}


.button3 { /*表出すボダン*/
	display:block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	width: 430px;
	margin-left: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	font-size: 20px;
	border-radius: 10px;
	color: #800000;
	border: 3px solid #a67b5b;
	box-shadow: 5px 5px #a67b5b;
	white-space: nowrap; テキストを1行に表示
}

.button3:hover {
    background-color: #b4ada9;
     color: white;
}

.form {
    display: flex;
    justify-content: space-between;
}
